<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>Таблица студентов</h1>
<table>
    <tr>
        <th>ID</th>
        <th>LOGIN</th>
        <th>PASSWORD_HASH</th>
        <th>FULL_NAME</th>
        <th>GROUP_CIPHER</th>
        <th>ADDRESS</th>
        <th>PHONE</th>
        <th>EMAIL</th>
        <th>COMMENTS</th>
        <th>CURRENT_JOB</th>
        <th>JOB_TYPE</th>
    </tr>
    <tr th:each ="s: ${students}">
        <td th:text ="${s.id}"></td>
        <td th:text ="${s.login}"></td>
        <td th:text ="${s.password_hash}"></td>
        <td th:text ="${s.full_name}"></td>
        <td th:text ="${s.group_cipher}"></td>
        <td th:text ="${s.address}"></td>
        <td th:text ="${s.phone}"></td>
        <td th:text ="${s.email}"></td>
        <td th:text ="${s.comments}"></td>
        <td th:text ="${s.current_job}"></td>
        <td th:text ="${s.job_type}"></td>
    </tr>
</table>

<h1>Посмотреть таблицу студентов</h1>
<form action="/students" method="GET">
    <p> <button type="submit">List student</button> </p>
</form>

<h1>Добавить студента</h1>
<form action="/students" method="POST">
    <p> Login: <input type="text" name="login"> </p>
    <p> Password_hash: <input type="text" name="password_hash"> </p>
    <p> Full_name: <input type="text" name="full_name"> </p>
    <p> Group_cipher:   <input type="text" name="group_ciphers"> </p>
    <p> Address: <input type="text" name="address"> </p>
    <p> Phone: <input type="text" name="phone"> </p>
    <p> Email: <input type="text" name="email"> </p>
    <p> Comments: <input type="text" name="comments"> </p>
    <p> Current_job: <input type="text" name="current_job"> </p>
    <p> Job_type: <input type="text" name="job_type"> </p>
    <p> <button type="submit">Add student</button> </p>
</form>

<h1>Удалить студента</h1>
<form action="/students/delete" method="GET">
    Id: <input type="number" name="id">
    <p> <button type="submit">Delete student</button> </p>
</form>

<h1>Изменить данные студента</h1>
<form action="/students/edit" method="GET">
    <p> Id: <input type="number" name="id"> </p>
    <p> Login: <input type="text" name="login"> </p>
    <p> Password_hash: <input type="text" name="password_hash"> </p>
    <p> Full_name: <input type="text" name="full_name"> </p>
    <p> Group_cipher:   <input type="text" name="group_ciphers"> </p>
    <p> Address: <input type="text" name="address"> </p>
    <p> Phone: <input type="text" name="phone"> </p>
    <p> Email: <input type="text" name="email"> </p>
    <p> Comments: <input type="text" name="comments"> </p>
    <p> Current_job: <input type="text" name="current_job"> </p>
    <p> Job_type: <input type="text" name="job_type"> </p>
    <p> <button type="submit">Edit student</button> </p>
</form>
</body>
</html>
